{% extends "base_generic.html" %}

{% load static %}

{% block title %}
    <title>Pickup/Delivery</title>
{% endblock%}

{% block homeSection %}
    <!-- Section to be inserted here -->
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="well-block">
                {% if service_cost %}
                    Picking up your carpet will approximately cost {{service_cost}} euros. Get in touch!
                {% else %}
                    {% include "main_calculation_form.html" %}
                {% endif %}
                </div>
            </div>
            <!-- Calculate end -->

            <div class="col-md-6">
                <div class="well-block pickup-block">
                    <div class="well-title">
                        <h2>Book an Appointment</h2>
                    </div>
                    <form>
                        <!-- Form start -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="name">Name</label>
                                    <input id="name" name="name" type="text" placeholder="Full Name" class="form-control input-md">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="name">Telephone</label>
                                    <input id="telephone" name="telephone" type="text" placeholder="Telephone" class="form-control input-md">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="email">Email</label>
                                    <input id="email" name="email" type="text" placeholder="E-Mail" class="form-control input-md">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="col-md-6">
                              <label for="probootstrap-date-departure">Preferred Date</label>
                              <div class="probootstrap-date-wrap">
                                <input type="text" id="probootstrap-date-departure" class="form-control"
                                       placeholder="Click to select a date">
                              </div>
                            </div>
                            <!-- Select Basic -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="time">Preferred Time</label>
                                    <select id="time" name="time" class="form-control">
                                        <option value="8:00 to 9:00">8:00 to 9:00</option>
                                        <option value="9:00 to 10:00">9:00 to 10:00</option>
                                        <option value="10:00 to 1:00">10:00 to 1:00</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Text input -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="appointmentfor">Appointment For</label>
                                    <input type="text" id="appointmentfor" class="form-control input-md"
                                       placeholder="What do you want to tell us?">
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-default">Make An Appointment</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Pickup form end -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}