{% extends "base_generic.html" %}

{% load static %}

{% block title %}
    <title>Thank you for your e-mail!</title>
{% endblock%}

{% block homeSection %}
    <!-- Section to be inserted here -->
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-sm">
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <h1 class="h1 thank-you">
                Thank you for your e-mail!
            </h1>
        </div>
    </div>
</div>
</div>


<h5> Your e-mail has been sent. We will get back to you shortly.</h5>
{% endblock %}


